Repository ksctl/ksctl, changes with the labels that .github/labeler.yml gives for each.
All labels: cloud/azure, cloud/aws, cloud/civo, cloud/local, distro/k3s, distro/kubeadm, distro/kubernetes-client-go, state/local, go, area/test, area/ci, area/pkg

enhancement: added Aws-HA-Support #17
  internal/cloudproviders/aws/ssh.go
Labels: cloud/aws, go

enhancement: included deletion of NIC and VM within the AWS-HA cluster
  internal/cloudproviders/aws/awsgo.go
  internal/cloudproviders/aws/vm.go
Labels: cloud/aws, go

enhancement: implemented instance and NIC deletion functionality
  internal/cloudproviders/aws/main.go
  internal/cloudproviders/aws/vm.go
Labels: cloud/aws, go

enhancement: Implemented HA cluster deletion for AWS environment.
  internal/cloudproviders/aws/awsgo.go
  internal/cloudproviders/aws/firewall.go
  internal/cloudproviders/aws/main.go
  internal/cloudproviders/aws/network.go
  internal/cloudproviders/aws/ssh.go
  internal/cloudproviders/aws/vm.go
  internal/k8sdistros/k3s/controlplane.go
  internal/k8sdistros/k3s/datastore.go
  internal/k8sdistros/k3s/loadbalancer.go
  internal/k8sdistros/k3s/workerplane.go
  pkg/controllers/manager.go
  pkg/utils/utils.go
  test/e2e/aws/delete-ha.json
Labels: cloud/aws, distro/k3s, go, area/test, area/pkg

bug-fix: wrong GOOS for macos OS
  internal/cloudproviders/azure/helper.go
  internal/cloudproviders/civo/helper.go
  internal/cloudproviders/local/helper.go
  internal/k8sdistros/k3s/helper.go
Labels: cloud/azure, cloud/civo, cloud/local, distro/k3s, go

bug-fix: wrong GOOS for macos OS
  internal/cloudproviders/azure/helper.go
  internal/cloudproviders/civo/helper.go
  internal/cloudproviders/local/helper.go
  internal/k8sdistros/k3s/helper.go
Labels: cloud/azure, cloud/civo, cloud/local, distro/k3s, go

added mock to local provider
  Makefile
  internal/cloudproviders/local/local_test.go
  internal/cloudproviders/local/localgo.go
  internal/cloudproviders/local/main.go
  internal/cloudproviders/local/managed_main.go
  pkg/controllers/cloud/cloud.go
  pkg/controllers/manager.go
  test/mock.go
  test/mock_test.go
Labels: cloud/local, go, area/test, area/pkg

added mock to local provider (#235)
  Makefile
  internal/cloudproviders/local/local_test.go
  internal/cloudproviders/local/localgo.go
  internal/cloudproviders/local/main.go
  internal/cloudproviders/local/managed_main.go
  pkg/controllers/cloud/cloud.go
  pkg/controllers/manager.go
  test/mock.go
  test/mock_test.go
Labels: cloud/local, go, area/test, area/pkg

added mock to local provider (#235)
  Makefile
  internal/cloudproviders/local/local_test.go
  internal/cloudproviders/local/localgo.go
  internal/cloudproviders/local/main.go
  internal/cloudproviders/local/managed_main.go
  pkg/controllers/cloud/cloud.go
  pkg/controllers/manager.go
  test/mock.go
  test/mock_test.go
Labels: cloud/local, go, area/test, area/pkg

Refactored code for improved clarity , addressed minor bugs related to network interface deletion
  internal/cloudproviders/aws/awsgo.go
  internal/cloudproviders/aws/firewall.go
  internal/cloudproviders/aws/helper.go
  internal/cloudproviders/aws/main.go
  internal/cloudproviders/aws/network.go
  internal/cloudproviders/aws/ssh.go
  internal/cloudproviders/aws/vm.go
Labels: cloud/aws, go

fixed the examples/
  examples/logger/http/main.go
  examples/manager/ha/useManager.go
  examples/manager/managed/useManager.go
Labels: go

fixed the examples/
  examples/logger/http/main.go
  examples/manager/ha/useManager.go
  examples/manager/managed/useManager.go
Labels: go

enhancement(ci): updated the ci with cross-platform testing
  .github/workflows/testingAzure.yml
  .github/workflows/testingCivo.yml
  .github/workflows/testingK3s.yml
  .github/workflows/testingLocal.yml
  .github/workflows/testingLogger.yml
  .github/workflows/testingUtils.yml
Labels: area/ci

updated the go modules
  go.mod
  go.sum
Labels: go

removed the gh action trigger when pr is edited
  .github/workflows/testingAzure.yml
  .github/workflows/testingCivo.yml
  .github/workflows/testingLocal.yml
Labels: area/ci

enhancement(ci): updated the ci with cross-platform testing (#237)
  .github/workflows/testingAzure.yml
  .github/workflows/testingCivo.yml
  .github/workflows/testingK3s.yml
  .github/workflows/testingLocal.yml
  .github/workflows/testingLogger.yml
  .github/workflows/testingUtils.yml
  go.mod
  go.sum
Labels: go, area/ci

enhancement(ci): updated the ci with cross-platform testing (#237)
  .github/workflows/testingAzure.yml
  .github/workflows/testingCivo.yml
  .github/workflows/testingK3s.yml
  .github/workflows/testingLocal.yml
  .github/workflows/testingLogger.yml
  .github/workflows/testingUtils.yml
  go.mod
  go.sum
Labels: go, area/ci

fixed: Invalid Instancetype input
  internal/cloudproviders/aws/awsgo.go
  internal/cloudproviders/aws/helper.go
  internal/cloudproviders/aws/main.go
  internal/cloudproviders/aws/vm.go
Labels: cloud/aws, go

testing: added aws-ha e2e-testing
  test/e2e-jenkins/aws/Jenkinsfile
Labels: none

Replaced log.pani() with log.Error() for better debugging
  internal/cloudproviders/aws/main.go
Labels: cloud/aws, go

Added mock_testing and mock functions
  Makefile
  internal/cloudproviders/aws/aws_test.go
  internal/cloudproviders/aws/awsgo.go
  internal/cloudproviders/aws/firewall.go
  internal/cloudproviders/aws/helper.go
  internal/cloudproviders/aws/main.go
  internal/cloudproviders/aws/network.go
  internal/cloudproviders/aws/ssh.go
  internal/cloudproviders/aws/vm.go
  test/mock.go
  test/mock_test.go
Labels: cloud/aws, go, area/test

refactored the utils.go into respective go files for maintainbility
  pkg/utils/fields.go
  pkg/utils/ssh.go
  pkg/utils/state.go
  pkg/utils/utils.go
  scripts/test-api.ps1
  scripts/test-api.sh
  scripts/test-utils.ps1
  scripts/test-utils.sh
Labels: go, area/test, area/pkg

fix: missed refactoring
  internal/k8sdistros/k3s/k3s_test.go
  pkg/helpers/cni_test.go
Labels: distro/k3s, go, area/test

.github/labeler.yml:

'area/internal':
- any: ['pkg/**', 'pkg/*']
  all: ['!pkg/utils/**','!pkg/controllers/**','!pkg/resources/**']

'cloud/azure':
- 'internal/cloudproviders/azure/*'

'cloud/aws':
- 'internal/cloudproviders/aws/*'

'cloud/civo':
- 'internal/cloudproviders/civo/*'

'cloud/local':
- 'internal/cloudproviders/local/*'

'distro/k3s':
- 'internal/k8sdistros/k3s/*'

'distro/kubeadm':
- 'internal/k8sdistros/kubeadm/*'

'distro/kubernetes-client-go':
- 'internal/k8sdistros/universal/*'

'state/local':
- 'internal/storage/local/*'

'go':
- '**/*.go'
- 'go.mod'
- 'go.sum'

'area/test':
- '**/*_test.go'
- 'test/e2e/*'
- 'test/e2e/**/*'
- 'scripts/*'

'area/ci':
- '.goreleaser.yaml'
- '.github/*'
- '.github/**/*'

'area/pkg':
- 'pkg/utils/*'
- 'pkg/controllers/*'
- 'pkg/controllers/**/*'
- 'pkg/resources/**'
