Repository ksctl/ksctl, changes with the labels that .github/labeler.yml gives for each.
All labels: area/cli, kind/documentation, cloud/azure, cloud/aws, cloud/civo, cloud/local, distro/k3s, distro/kubeadm, distro/kubernetes-client-go, state/local, go, area/test, area/ci, area/pkg

feat: Add the first new error consts
  pkg/utils/errors/errors.go
Labels: go

feat: added argocd support
  cmd/cli/cmd/featureFlags.go
  internal/k8sdistros/universal/applications.go
  internal/k8sdistros/universal/kubernetesAPI.go
  pkg/controllers/manager.go
  pkg/utils/consts/consts.go
Labels: area/cli, go, area/pkg

feat: added argocd support
  cmd/cli/cmd/featureFlags.go
  internal/k8sdistros/universal/applications.go
  internal/k8sdistros/universal/kubernetesAPI.go
  pkg/controllers/manager.go
  pkg/utils/consts/consts.go
  website/blog/2023-10-04-auto-scaling.md
  website/blog/2023-10-09-install-applications.md
Labels: area/cli, kind/documentation, go, area/pkg

feat: added argo-rollout support
  internal/k8sdistros/universal/applications.go
Labels: go

feat: added argo-rollout support
  internal/k8sdistros/universal/applications.go
Labels: go

.github/labeler.yml:

'area/internal':
- any: ['pkg/**', 'pkg/*']
  all: ['!pkg/utils/**','!pkg/controllers/**','!pkg/resources/**']

'area/cli':
- 'cmd/cli/*'
- 'cmd/cli/**/*'

'kind/documentation':
- 'website/*'
- 'website/**/*'
- 'website/**/**/*'
- '**/*.md'

'cloud/azure':
- 'internal/cloudproviders/azure/*'

'cloud/aws':
- 'internal/cloudproviders/aws/*'

'cloud/civo':
- 'internal/cloudproviders/civo/*'

'cloud/local':
- 'internal/cloudproviders/local/*'

'distro/k3s':
- 'internal/k8sdistros/k3s/*'

'distro/kubeadm':
- 'internal/k8sdistros/kubeadm/*'

'distro/kubernetes-client-go':
- 'api/k8s_distro/universal/*'

'state/local':
- 'api/storage/localstate/*'

'go':
- '**/*.go'
- 'go.mod'
- 'go.sum'

'area/test':
- '**/*_test.go'
- 'test/e2e/*'
- 'test/e2e/**/*'
- 'scripts/test-api.ps1'
- 'scripts/test-api.sh'

'area/ci':
- '.goreleaser.yaml'
- '.github/*'
- '.github/**/*'

'area/pkg':
- 'pkg/utils/*'
- 'pkg/controllers/*'
- 'pkg/controllers/**/*'
- 'pkg/resources/**'
