Repository ksctl/ksctl, changes with the labels that .github/labeler.yml gives for each.
All labels: area/api, area/cli, kind/documentation, provider/azure, provider/civo, provider/local

Update README.md
  README.md
Labels: kind/documentation

Update README.md
  README.md
Labels: kind/documentation

Update pull_request-template.md
  .github/pull_request-template.md
Labels: kind/documentation

Update pull_request-template.md
  .github/pull_request-template.md
Labels: kind/documentation

fix: CONTRIBUTING.md with better instructions
  .github/workflows/automerge.yml
  CONTRIBUTING.md
Labels: kind/documentation

fix: CONTRIBUTING.md with better instructions
  .github/workflows/automerge.yml
  CONTRIBUTING.md
Labels: kind/documentation

Adding Video for HA&Managed to Civo&Azure
  website/docs/providers/azure.md
  website/docs/providers/civo.md
Labels: kind/documentation

Adding links for providers-video to Getting Started
  website/docs/getting-started/install.md
  website/docs/intro.md
  website/docs/providers/azure.md
  website/docs/providers/civo.md
Labels: kind/documentation

Changes made as Suggested
  website/docs/getting-started/install.md
  website/docs/intro.md
  website/docs/providers/azure.md
  website/docs/providers/civo.md
Labels: kind/documentation

Removing extra spaces
  website/docs/getting-started/install.md
  website/docs/providers/azure.md
  website/docs/providers/civo.md
Labels: kind/documentation

Changing Spaces for the headings
  website/docs/providers/azure.md
  website/docs/providers/civo.md
Labels: kind/documentation

fix: video not rendering in website (#116)
  website/docs/getting-started/install.md
  website/docs/intro.md
  website/docs/providers/azure.md
  website/docs/providers/civo.md
Labels: kind/documentation

update: docusaurus to newer version
  .gitignore
Labels: none

update: docusaurus to newer version
  .gitignore
  website/package-lock.json
  website/package.json
  website/yarn.lock
Labels: kind/documentation

Update README.md
  README.md
Labels: kind/documentation

Update README.md
  README.md
Labels: kind/documentation

enhancement: Added firewall rules for the HA cluster on azure #118
  api/azure/controlplane.go
  api/azure/database.go
  api/azure/loadbalancer.go
  api/azure/workernode.go
Labels: area/api, provider/azure

first commit
  README.md
Labels: kind/documentation

aws-support : token authentication
  api/aws/main.go
  api/aws/utils.go
  api/civo/utils.go
  go.mod
  go.sum
Labels: area/api, provider/civo

fixed the sequencing
  website/docs/providers/azure.md
Labels: kind/documentation

Support for the non-k8s distros
  api/resources/engine.go
Labels: area/api

Support for the non-k8s distros
  api/resources/engine.go
Labels: area/api

Added interface for the restAPI client
  api/resources/restapi/payload.go
Labels: area/api

Added interface for the restAPI client
  api/resources/restapi/payload.go
Labels: area/api

Update: new badges added
  README.md
Labels: kind/documentation

Update: new badges added
  README.md
Labels: kind/documentation

Update README.md
  README.md
Labels: kind/documentation

Update README.md
  README.md
Labels: kind/documentation

Decided on the overall all interfaces
  api/provider/azure/main.go
  api/provider/civo/main.go
  api/resources/cli/command.go
  api/resources/engine.go
  api/resources/providers/azure.go
  api/resources/providers/civo.go
  api/resources/providers/k3s.go
  api/resources/providers/kubeadm.go
  mock_cli.go
Labels: area/api

Decided on the overall all interfaces
  api/provider/azure/main.go
  api/provider/civo/main.go
  api/resources/cli/command.go
  api/resources/engine.go
  api/resources/providers/azure.go
  api/resources/providers/civo.go
  api/resources/providers/k3s.go
  api/resources/providers/kubeadm.go
  mock_cli.go
Labels: area/api

Fixed the import error
  api/resources/cli/command.go
  api/resources/engine.go
  api/resources/providers/civo.go
  mock_cli.go
Labels: area/api

Fixed the import error
  api/resources/cli/command.go
  api/resources/engine.go
  api/resources/providers/civo.go
  mock_cli.go
Labels: area/api

Added the K3s and Kubeadm interface and mock-cli working
  api/k8s_distro/k3s/k3scontroller.go
  api/k8s_distro/kubeadm/kubeadmcontroller.go
  api/provider/azure/main.go
  api/provider/civo/main.go
  api/resources/engine.go
  api/resources/providers/kubeadm.go
  mock_cli.go
Labels: area/api

Added the K3s and Kubeadm interface and mock-cli working
  api/k8s_distro/k3s/k3scontroller.go
  api/k8s_distro/kubeadm/kubeadmcontroller.go
  api/provider/azure/main.go
  api/provider/civo/main.go
  api/resources/engine.go
  api/resources/providers/kubeadm.go
  mock_cli.go
Labels: area/api

Added the Local provider
  api/k8s_distro/k3s/k3scontroller.go
  api/k8s_distro/kubeadm/kubeadmcontroller.go
  api/provider/azure/main.go
  api/provider/civo/main.go
  api/provider/local/main.go
  api/resources/engine.go
  api/resources/providers/local.go
  mock_cli.go
Labels: area/api

Added the Local provider
  api/k8s_distro/k3s/k3scontroller.go
  api/k8s_distro/kubeadm/kubeadmcontroller.go
  api/provider/azure/main.go
  api/provider/civo/main.go
  api/provider/local/main.go
  api/resources/engine.go
  api/resources/providers/local.go
  mock_cli.go
Labels: area/api

Added the Storage Handlers
  api/resources/engine.go
  api/resources/providers/local_state.go
  api/resources/providers/remote_state.go
  api/storage/localstate/main.go
  api/storage/remotestate/main.go
  mock_cli.go
Labels: area/api

Added the Storage Handlers
  api/resources/engine.go
  api/resources/providers/local_state.go
  api/resources/providers/remote_state.go
  api/storage/localstate/main.go
  api/storage/remotestate/main.go
  mock_cli.go
Labels: area/api

Moved the NewBuilder funcs to the resources/cli
  api/resources/cli/command.go
  api/resources/engine.go
  mock_cli.go
Labels: area/api

Moved the NewBuilder funcs to the resources/cli
  api/resources/cli/command.go
  api/resources/engine.go
  mock_cli.go
Labels: area/api

.github/labeler.yml:

'area/api':
- 'api/*'
- 'api/**/*'

'area/cli':
- 'cli/*'
- 'cli/**/*'

'kind/documentation':
- 'website/*'
- 'website/**/*'
- 'website/**/**/*'
- '**/*.md'

'provider/azure':
- 'api/azure/*'

'provider/civo':
- 'api/civo/*'

'provider/local':
- 'api/local/*'
