Repository ksctl/ksctl, changes with the labels that .github/labeler.yml gives for each.
All labels: area/cli, kind/documentation, cloud/azure, cloud/aws, cloud/civo, cloud/local, distro/k3s, distro/kubeadm, state/local, go, area/test, area/ci, area/core

update website contributionpage (#137)
  website/docs/contributions.md
Labels: kind/documentation

fixed: ec2 instance invalid instance & added nic interface
  api/provider/aws/vm.go
Labels: cloud/aws, go

added: firewallrules
  api/controllers/cloud/cloud.go
  api/controllers/manager.go
  api/provider/aws/aws_test.go
  api/provider/aws/awsgo.go
  api/provider/aws/firewall.go
  api/provider/aws/loadbalancer.go
  api/provider/aws/main.go
  api/provider/aws/network.go
  api/provider/aws/vm.go
  cli/cmd/createCluster.go
  cli/cmd/flags.go
  cli/cmd/utils.go
  go.mod
  go.sum
Labels: area/cli, cloud/aws, go, area/test, area/core

added: network interface
  api/provider/aws/vm.go
Labels: cloud/aws, go

added: auto assigned public ip
  api/provider/aws/network.go
Labels: cloud/aws, go

enhancement: added email based notification for e2e tests
  test/e2e/Jenkinsfile
  test/e2e/azure/Jenkinsfile
  test/e2e/civo/Jenkinsfile
Labels: none

enhancement: added email based notification for e2e tests
  test/e2e/Jenkinsfile
  test/e2e/azure/Jenkinsfile
  test/e2e/civo/Jenkinsfile
Labels: none

fix: added the node affinity rules
  api/k8s_distro/universal/ksctl.go
Labels: go

added: aws NetworkACL
  api/provider/aws/network.go
Labels: cloud/aws, go

fixed: association of route-table to subnet
  api/provider/aws/network.go
Labels: cloud/aws, go

refactor: removed the duplicate code
  api/k8s_distro/universal/ksctl.go
Labels: go

.github/labeler.yml:

'area/api':
- any: ['api/**', 'api/*']
  all: ['!api/utils/**','!api/controllers/**','!api/resources/**']

'area/cli':
- 'cli/*'
- 'cli/**/*'

'kind/documentation':
- 'website/*'
- 'website/**/*'
- 'website/**/**/*'
- '**/*.md'

'cloud/azure':
- 'api/provider/azure/*'

'cloud/aws':
- 'api/provider/aws/*'

'cloud/civo':
- 'api/provider/civo/*'

'cloud/local':
- 'api/provider/local/*'

'distro/k3s':
- 'api/k8s_distro/k3s/*'

'distro/kubeadm':
- 'api/k8s_distro/kubeadm/*'

'state/local':
- 'api/storage/localstate/*'

'go':
- '**/*.go'
- 'go.mod'
- 'go.sum'

'area/test':
- '**/*_test.go'

'area/ci':
- '.goreleaser.yaml'
- '.github/*'
- '.github/**/*'

'area/core':
- 'api/utils/*'
- 'api/controllers/*'
- 'api/controllers/**/*'
- 'api/resources/**'
