Repository ksctl/ksctl, pull requests merged in 2022-11, with the labels that each got.

#33 [API](Civo,Local) Added Windows File Path format
  src/api/civo/main.go
  src/api/civo/main_test.go
  src/api/local/main.go
  src/api/local/main_test.go
  src/api/payload/main.go
Labels: enhancement, provider/civo, component/api, provider/local, os/linux

#41 [Docs] Change of Contribution Guidelines
  README.md
Labels: kind/documentation, approved, NOT-MERGABLE, LGTM

#40 [Docs]Addition of Usage steps in README
  README.md
  USAGE.md
Labels: kind/documentation, approved, MERGABLE, LGTM

#43 [Docs] Added Roadmap
  README.md
Labels: kind/documentation, MERGABLE, LGTM
