Repository ksctl/ksctl, pull requests merged in 2022-12, with the labels that each got.

#53 [CI](Build) testing the build process in different environments
  .github/workflows/testBuilder.yaml
  .github/workflows/testingAPI.yaml
  Makefile
  api/Dockerfile
  api/civo/main_test.go
  api/utils/main.go
  build/Dockerfile
  test/api/civo_test.sh
  test/api/local_test.sh
Labels: pr/not-mergable, kind/api-testing, os/linux, os/macos, os/windows

#56 [API] (ALL): use strings.Builder instead of repeated += for strings
  api/aks/main.go
  api/eks/main.go
  api/local/main.go
  api/local/main_test.go
  api/utils/main.go
Labels: enhancement, provider/civo, component/api, provider/local, approved, pr/mergable, pr/lgtm

#57 Added script to run testing for all providers
  .github/workflows/go-fmt.yaml
  .github/workflows/testingAPI.yaml
  api/aks/main.go
  api/civo/main.go
  api/civo/main_test.go
  api/eks/main.go
  api/local/main_test.go
  api/test-api.ps1
  api/test-api.sh
  api/utils/main.go
  api/utils/main_test.go
  go.mod
  go.sum
  install.ps1
Labels: provider/civo, component/api, provider/local, pr/not-mergable, kind/api-testing
