Repository ksctl/ksctl, pull requests merged in 2023-03, with the labels that each got.

#67 [API](Azure) Adding support for Azure
  .github/workflows/testBuilder.yaml
  .github/workflows/testingAPI.yaml
  .vscode/launch.json
  README.md
  api/aks/main.go
  api/aksTesting.go_dev_template
  api/aws/main.go
  api/azure/controlplane.go
  api/azure/database.go
  api/azure/ha_main.go
  api/azure/loadbalancer.go
  api/azure/main.go
  api/azure/main_test.go
  api/azure/managed_main.go
  api/azure/notes.md
  api/azure/utils.go
  api/azure/workernode.go
  api/civo/main.go
  api/civo/utils.go
  api/test-api.ps1
  api/test-api.sh
  api/utils/main.go
  api/utils/main_test.go
  builder.ps1
  builder.sh
  cli/cmd/addNodesHAAzure.go
  cli/cmd/createClusterAzure.go
  cli/cmd/createClusterHAAzure.go
  cli/cmd/createClusterHACivo.go
  cli/cmd/credentials.go
  cli/cmd/deleteCluster.go
  cli/cmd/deleteClusterAzure.go
  cli/cmd/deleteClusterHAAzure.go
  cli/cmd/deleteNodesHAAzure.go
  cli/cmd/getCluster.go
  cli/cmd/switchCluster.go
  go.mod
  go.sum
  install.sh
Labels: enhancement, component/api, provider/azure

#73 update workflows for cosign 2.0
  .goreleaser.yaml
Labels: approved, pr/mergable, pr/lgtm, type/release

#74 [CLI][API] more rich logging
  api/aksTesting.go_dev_template
  api/azure/controlplane.go
  api/azure/database.go
  api/azure/ha_main.go
  api/azure/loadbalancer.go
  api/azure/main.go
  api/azure/managed_main.go
  api/azure/utils.go
  api/azure/workernode.go
  api/civo/controlplane.go
  api/civo/database.go
  api/civo/ha_main.go
  api/civo/loadbalancer.go
  api/civo/main.go
  api/civo/main_test.go
  api/civo/managed_main.go
  api/civo/utils.go
  api/civo/workernode.go
  api/local/main.go
  api/logger/main.go
  api/logger/noteMsg.go
  api/logger/tableMsg.go
  api/printers/logging/main.go
  api/printers/oneLine/main.go
  api/printers/tableFormat/main.go
  api/utils/main.go
  cli/cmd/addNodesHAAzure.go
  cli/cmd/addNodesHACivo.go
  cli/cmd/createClusterAWS.go
  cli/cmd/createClusterAzure.go
  cli/cmd/createClusterCivo.go
  cli/cmd/createClusterHAAzure.go
  cli/cmd/createClusterHACivo.go
  cli/cmd/createClusterLocal.go
  cli/cmd/credentials.go
  cli/cmd/deleteClusterAzure.go
  cli/cmd/deleteClusterCivo.go
  cli/cmd/deleteClusterHAAzure.go
  cli/cmd/deleteClusterHACivo.go
  cli/cmd/deleteClusterLocal.go
  cli/cmd/deleteNodesHAAzure.go
  cli/cmd/deleteNodesHACivo.go
  install.ps1
  install.sh
Labels: enhancement, provider/civo, component/api, provider/local, component/cli, provider/azure

#81 [API](*) BUG-FIX: ReadCredential panic
  api/utils/main.go
Labels: component/api, approved, pr/mergable, pr/lgtm, kind/bug_fix, os/windows
