Repository ksctl/ksctl, pull requests merged in 2023-08, with the labels that each got.

#133 enhancement(docs): resolve issue #132
  CONTRIBUTING.md
  website/docs/architecture/api-components.md
  website/docs/architecture/cicd.md
  website/docs/architecture/img/docsVersionDropdown.png
  website/docs/architecture/img/localeDropdown.png
  website/docs/cli/CLI command reference.md
  website/docs/cli/_category_.json
  website/docs/cli/install.md
  website/docs/contributions.md
  website/docs/getting-started/_category_.json
  website/docs/getting-started/ksctl cloud controller.md
  website/docs/getting-started/ksctl distro controller.md
  website/docs/getting-started/ksctl manager.md
  website/src/components/HomepageFeatures/index.js
  website/static/img/cli-create-dg.png
  website/static/img/cli-init-dg.png
  website/static/img/cli-switch-dg.png
  website/static/img/e2e-test-workflow.svg
  website/static/img/ksctl-ha-create-light.png
  website/static/img/ksctl-ha-create.png
  website/static/img/ksctl-ha-sequence.svg
  website/static/img/ksctl-managed-create-light.png
  website/static/img/ksctl-managed-create.png
  website/static/img/ksctl-managed-sequence.svg
  website/static/img/ksctl-org-diagrams-light.png
  website/static/img/ksctl-overall-arch-light.png
  website/static/img/ksctl-overall-arch.png
Labels: kind/documentation

#134 Added relevant svgs to homepage that describe the ksctl features
  website/src/components/HomepageFeatures/index.js
  website/static/img/customize.svg
  website/static/img/fast.svg
  website/static/img/lightweight.svg
  website/static/img/undraw_docusaurus_mountain.svg
  website/static/img/undraw_docusaurus_react.svg
  website/static/img/undraw_docusaurus_tree.svg
Labels: kind/documentation, pr/mergable, pr/lgtm

#136 enhancement(test): add mocks for cloud provider client
  .github/workflows/codecov.yml
  .github/workflows/testingAPI.yaml
  Makefile
  README.md
  api/controllers/cloud/cloud.go
  api/controllers/manager.go
  api/provider/azure/azure_test.go
  api/provider/azure/azurego.go
  api/provider/azure/firewall.go
  api/provider/azure/helper.go
  api/provider/azure/main.go
  api/provider/azure/managed_main.go
  api/provider/azure/network.go
  api/provider/azure/notes.md
  api/provider/azure/ssh.go
  api/provider/azure/vm.go
  api/provider/civo/civo_test.go
  api/provider/civo/civogo.go
  api/provider/civo/firewall.go
  api/provider/civo/helper.go
  api/provider/civo/main.go
  api/provider/civo/managed_main.go
  api/provider/civo/network.go
  api/provider/civo/ssh.go
  api/provider/civo/vm.go
  api/provider/local/local_test.go
  api/test-api.sh
  api/utils/main.go
  benchmark/main.go
  benchmark/main_test.go
  benchmark/profile001.pdf
  test/mock.go
  test/mock_cli.go
  test/mock_test.go
Labels: kind/documentation, cloud/civo, cloud/local, cloud/azure, area/test, go, area/core, area/ci
