Repository ksctl/ksctl, pull requests merged in 2023-05, with the labels that each got.

#95 refresh(branch): updating the dev branch
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/custom.md
  .github/ISSUE_TEMPLATE/enhancement-issue-template.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/workflows/automerge.yml
  README.md
Labels: pr/mergable, pr/lgtm

#96 refresh(branch): updating the branch `dev`
  .github/workflows/automerge.yml
Labels: pr/mergable, pr/lgtm

#97 refresh(branch): update dev
  .github/pull_request-template.md
  .github/workflows/automerge.yml
Labels: pr/mergable, pr/lgtm

#86 enhancement(API): Env var based token for authentication
  .github/pull_request-template.md
  .github/workflows/automerge.yml
  api/azure/utils.go
  api/civo/main.go
Labels: provider/civo, component/api, pr/mergable, pr/lgtm, provider/azure, priority/should_have

#92 feat(API): fix of credentials
  api/aws/main.go
  cli/cmd/credentials.go
Labels: component/api, pr/mergable, pr/lgtm, provider/aws, priority/should_have

#99 fix(api): environment variable for providers credentials
  .github/workflows/automerge.yml
  api/azure/ha_main.go
  api/azure/main.go
  api/azure/main_test.go
  api/azure/managed_main.go
  api/azure/utils.go
  api/civo/ha_main.go
  api/civo/main.go
  api/civo/main_test.go
  api/civo/managed_main.go
  api/local/main.go
  api/logger/main.go
  api/logger/noteMsg.go
  api/utils/main.go
  cli/cmd/deleteClusterHAAzure.go
  cli/cmd/deleteClusterLocal.go
  cli/cmd/getCluster.go
  cli/cmd/switchCluster.go
Labels: provider/civo, provider/local, pr/mergable, pr/lgtm, provider/azure, kind/bug_fix, priority/should_have

#106 fix(API): trying fix x509 certs
  api/azure/ha_main.go
  api/azure/main.go
  api/azure/utils.go
  api/civo/controlplane.go
  api/civo/ha_main.go
  api/civo/main.go
  api/civo/utils.go
  api/utils/main.go
  builder.sh
  install.sh
  uninstall.sh
Labels: provider/civo, component/api, pr/mergable, pr/lgtm, provider/azure, priority: high

#108 fix: fixed the x509 cert error
  api/azure/controlplane.go
  api/azure/ha_main.go
  api/civo/controlplane.go
  api/civo/ha_main.go
  api/utils/main.go
Labels: provider/civo, component/api, pr/lgtm, provider/azure, priority: high
