Repository ksctl/ksctl, pull requests merged in 2023-04, with the labels that each got.

#83 fix(API): (*) SSH no host key checks
  api/azure/ha_main.go
  api/azure/main.go
  api/utils/main.go
Labels: enhancement, good first issue, help wanted, component/api, pr/mergable, priority/urgent, security

#85 docs(website): content addition
  .github/pull_request-template.md
  .github/workflows/website-pull.yaml
  img/ksctl-logo.svg
  website/docs/architecture/api-components.md
  website/docs/architecture/translate-your-site.md
  website/docs/getting-started/congratulations.md
  website/docs/getting-started/create-a-blog-post.md
  website/docs/getting-started/create-a-document.md
  website/docs/getting-started/create-a-page.md
  website/docs/getting-started/deploy-your-site.md
  website/docs/getting-started/install.md
  website/docs/getting-started/markdown-features.mdx
  website/docs/intro.md
  website/docs/maintainers.md
  website/docs/providers/_category_.json
  website/docs/providers/aws.md
  website/docs/providers/azure.md
  website/docs/providers/civo.md
  website/docs/providers/local.md
  website/docusaurus.config.js
  website/src/pages/index.js
  website/static/img/cli-create-dg.png
  website/static/img/cli-init-dg.png
  website/static/img/cli-switch-dg.png
  website/static/img/ksctl-logo.svg
Labels: kind/documentation, approved, pr/mergable, pr/lgtm

#89 fix(api): error when token passed is empty
  api/azure/main.go
  api/civo/main.go
  api/utils/main.go
Labels: provider/civo, component/api, pr/mergable, pr/lgtm, provider/azure, kind/bug_fix, priority/essential
