Repository ksctl/ksctl, pull requests merged in 2023-12, with the labels that each got.

#245 added: test running for ssh
  pkg/helpers/ssh.go
  testing_targets/ssh_main.go
Labels: pr/lgtm, go, area/pkg

#247 POC for etcd: for external db and tls
  poc/etcd/README.md
  poc/etcd/go.mod
  poc/etcd/main.go
Labels: pr/mergable, pr/lgtm, go

#252 added the mongodb poc work
  poc/storage-mongo/dryrun_test.go
  poc/storage-mongo/go.mod
  poc/storage-mongo/go.sum
  poc/storage-mongo/main.go
  poc/storage-mongo/resource_types.go
  poc/storage-mongo/types.go
Labels: area/test, go

#261 ci: improve docker workflow
  .github/workflows/docker-pr.yaml
  .github/workflows/docker.yaml
Labels: pr/lgtm, priority/low, area/ci
