Repository ksctl/ksctl, pull requests merged in 2023-10, with the labels that each got.

#188 feat: enabled the blogging in website
  website/blog/2019-05-28-first-blog-post.md
  website/blog/2019-05-29-long-blog-post.md
  website/blog/2021-08-01-mdx-blog-post.mdx
  website/blog/2021-08-26-welcome/docusaurus-plushie-banner.jpeg
  website/blog/2021-08-26-welcome/index.md
  website/blog/2021-08-26-welcome/ksctl-cover.png
  website/blog/2023-10-04-auto-scaling.md
  website/blog/authors.yml
  website/docusaurus.config.js
Labels: kind/documentation

#184 fix: added the node affinity rules
  .github/labeler.yml
  api/k8s_distro/universal/ksctl.go
  api/k8s_distro/universal/kubernetesAPI.go
Labels: pr/mergable, pr/lgtm, go, area/ci

#195 feat: added argocd support
  cmd/cli/cmd/featureFlags.go
  internal/k8sdistros/universal/applications.go
  internal/k8sdistros/universal/kubernetesAPI.go
  pkg/controllers/manager.go
  pkg/utils/consts/consts.go
  website/blog/2023-10-04-auto-scaling.md
  website/blog/2023-10-09-install-applications.md
Labels: kind/documentation, area/cli, go, area/pkg

#196 feature: kubernetes support for pre installed applications `argocd`
  cmd/cli/cmd/featureFlags.go
  internal/k8sdistros/universal/applications.go
  internal/k8sdistros/universal/kubernetesAPI.go
  pkg/controllers/manager.go
  pkg/utils/consts/consts.go
  website/blog/2023-10-04-auto-scaling.md
  website/blog/2023-10-09-install-applications.md
Labels: kind/documentation, pr/mergable, pr/lgtm, area/cli, go, area/pkg

#197 feat: added argo-rollout support
  internal/k8sdistros/universal/applications.go
Labels: pr/mergable, pr/lgtm, go

#200 feat: added helm support and istio service mesh
  go.mod
  go.sum
  internal/k8sdistros/universal/applications.go
  internal/k8sdistros/universal/argocd.go
  internal/k8sdistros/universal/argorollout.go
  internal/k8sdistros/universal/helm.go
  internal/k8sdistros/universal/istio.go
  internal/k8sdistros/universal/kubectl.go
  internal/k8sdistros/universal/kubernetesAPI.go
Labels: pr/mergable, pr/lgtm, go, distro/kubernetes-client-go

#202 bug-fix(civo): updated to new name for default pre-installed apps managed clusters
  internal/cloudproviders/civo/civo_test.go
  internal/cloudproviders/civo/main.go
  internal/cloudproviders/civo/managed_main.go
Labels: cloud/civo, pr/mergable, pr/lgtm, area/test, kind/bug_fix, go

#204 feat: added support for CNI plugin `cilium` for HA cluster
  cmd/cli/cmd/root.go
  internal/k8sdistros/k3s/controlplane.go
  internal/k8sdistros/k3s/datastore.go
  internal/k8sdistros/k3s/k3s_test.go
  internal/k8sdistros/k3s/k3scontroller.go
  internal/k8sdistros/k3s/loadbalancer.go
  internal/k8sdistros/k3s/workerplane.go
  internal/k8sdistros/kubeadm/kubeadmcontroller.go
  internal/k8sdistros/universal/applications.go
  internal/k8sdistros/universal/cilium.go
  pkg/controllers/kubernetes/kubernetes.go
  pkg/controllers/manager.go
  pkg/resources/types.go
  test/e2e/azure/Jenkinsfile
  test/e2e/civo/Jenkinsfile
  test/e2e/local/Jenkinsfile
Labels: pr/mergable, pr/lgtm, area/cli, area/test, go, area/pkg, distro/k3s, distro/kubeadm, distro/kubernetes-client-go

#205 enhancement: added non-exhaustive standard error messages
  pkg/utils/errors/errors.go
Labels: pr/mergable, pr/lgtm, go

#206 enhancement: improved support of CNI and application and `kube-prometheus-stack`
  cmd/cli/cmd/addNodesHAAzure.go
  cmd/cli/cmd/addNodesHACivo.go
  cmd/cli/cmd/createCluster.go
  cmd/cli/cmd/deleteCluster.go
  cmd/cli/cmd/deleteNodesHAAzure.go
  cmd/cli/cmd/deleteNodesHACivo.go
  cmd/cli/cmd/featureFlags.go
  cmd/cli/cmd/getCluster.go
  cmd/cli/cmd/root.go
  cmd/cli/cmd/switchCluster.go
  cmd/cli/cmd/utils.go
  examples/manager/ha/useManager.go
  examples/manager/managed/useManager.go
  httpserver/main.go
  internal/cloudproviders/azure/azure_test.go
  internal/cloudproviders/azure/firewall.go
  internal/cloudproviders/azure/helper.go
  internal/cloudproviders/azure/main.go
  internal/cloudproviders/azure/managed_main.go
  internal/cloudproviders/azure/network.go
  internal/cloudproviders/azure/ssh.go
  internal/cloudproviders/azure/vm.go
  internal/cloudproviders/civo/civo_test.go
  internal/cloudproviders/civo/civogo.go
  internal/cloudproviders/civo/firewall.go
  internal/cloudproviders/civo/helper.go
  internal/cloudproviders/civo/main.go
  internal/cloudproviders/civo/managed_main.go
  internal/cloudproviders/civo/network.go
  internal/cloudproviders/civo/ssh.go
  internal/cloudproviders/civo/vm.go
  internal/cloudproviders/local/helper.go
  internal/cloudproviders/local/local_test.go
  internal/cloudproviders/local/main.go
  internal/cloudproviders/local/managed_main.go
  internal/k8sdistros/k3s/controlplane.go
  internal/k8sdistros/k3s/datastore.go
  internal/k8sdistros/k3s/helper.go
  internal/k8sdistros/k3s/k3s_test.go
  internal/k8sdistros/k3s/k3scontroller.go
  internal/k8sdistros/k3s/loadbalancer.go
  internal/k8sdistros/k3s/workerplane.go
  internal/k8sdistros/kubeadm/kubeadmcontroller.go
  internal/k8sdistros/universal/applications.go
  internal/k8sdistros/universal/ksctl.go
  internal/k8sdistros/universal/prometheusStack.go
  pkg/controllers/cloud/cloud.go
  pkg/controllers/kubernetes/kubernetes.go
  pkg/controllers/manager.go
  pkg/resources/types.go
  pkg/utils/consts/consts.go
  pkg/utils/main.go
  pkg/utils/utils_test.go
  test/e2e/azure/Jenkinsfile
  test/mock.go
  test/mock_test.go
Labels: cloud/civo, cloud/local, pr/lgtm, area/cli, cloud/azure, area/test, go, area/pkg, distro/k3s, distro/kubeadm, distro/kubernetes-client-go

#212 refactor: removed the old package for azure-go-sdk
  go.mod
  internal/cloudproviders/azure/azurego.go
  internal/cloudproviders/azure/managed_main.go
  internal/cloudproviders/azure/ssh.go
  internal/cloudproviders/azure/vm.go
Labels: pr/mergable, pr/lgtm, cloud/azure, go

#214 enhancement: added the NodeOSUPgrade Policy for azure managed cluster
  internal/cloudproviders/azure/managed_main.go
Labels: pr/mergable, pr/lgtm, cloud/azure, go

#215 feat: updated with new way to do e2e testing
  .github/workflows/testingAPI.yaml
  cmd/cli/cmd/utils.go
  internal/cloudproviders/azure/azurego.go
  internal/cloudproviders/civo/civogo.go
  pkg/controllers/manager.go
  pkg/utils/cloud_test.go
  pkg/utils/cni_test.go
  pkg/utils/distro_test.go
  pkg/utils/main.go
  pkg/utils/name_test.go
  pkg/utils/storage_test.go
  scripts/test-api.ps1
  scripts/test-api.sh
  scripts/test-azure.ps1
  scripts/test-azure.sh
  scripts/test-civo.ps1
  scripts/test-civo.sh
  scripts/test-k3s.ps1
  scripts/test-k3s.sh
  scripts/test-local.ps1
  scripts/test-local.sh
  scripts/test-logger.ps1
  scripts/test-logger.sh
  scripts/test-utils.ps1
  scripts/test-utils.sh
  test/e2e-jenkins/Jenkinsfile
  test/e2e-jenkins/azure/Jenkinsfile
  test/e2e-jenkins/civo/Jenkinsfile
  test/e2e-jenkins/local/Jenkinsfile
  test/e2e/args.go
  test/e2e/azure/create-ha.json
  test/e2e/azure/create.json
  test/e2e/azure/delete-ha.json
  test/e2e/azure/delete.json
  test/e2e/azure/get.json
  test/e2e/azure/scaledown-ha.json
  test/e2e/azure/scaleup-ha.json
  test/e2e/azure/switch-ha.json
  test/e2e/azure/switch.json
  test/e2e/civo/create-ha.json
  test/e2e/civo/create.json
  test/e2e/civo/delete-ha.json
  test/e2e/civo/delete.json
  test/e2e/civo/get.json
  test/e2e/civo/scaledown-ha.json
  test/e2e/civo/scaleup-ha.json
  test/e2e/civo/switch-ha.json
  test/e2e/civo/switch.json
  test/e2e/consts.go
  test/e2e/e2e.go
  test/e2e/e2e_get.go
  test/e2e/e2e_ha.go
  test/e2e/e2e_managed.go
  test/e2e/e2e_switch.go
  test/e2e/local/create.json
  test/e2e/local/delete.json
  test/e2e/local/get.json
  test/e2e/local/switch.json
  test/e2e/payload-spec.json
Labels: cloud/civo, pr/mergable, pr/lgtm, area/cli, cloud/azure, area/test, go, area/pkg, area/ci

#223 Fix: Broken link of CONTRIBUTING.md
  CONTRIBUTING.md
Labels: kind/documentation, pr/mergable, pr/lgtm
