Repository ksctl/ksctl, pull requests merged in 2024-08, with the labels that each got.

#393 KFP: Support for Aws EKS
  .github/workflows/e2e-aws.yml
  .github/workflows/testingAws.yml
  Makefile
  go.mod
  go.sum
  internal/cloudproviders/aws/aws_client.go
  internal/cloudproviders/aws/aws_mock_client.go
  internal/cloudproviders/aws/aws_test.go
  internal/cloudproviders/aws/helper.go
  internal/cloudproviders/aws/main.go
  internal/cloudproviders/aws/managed_main.go
  internal/cloudproviders/aws/network.go
  internal/cloudproviders/aws/types.go
  internal/cloudproviders/aws/vars.go
  internal/cloudproviders/aws/vm.go
  internal/cloudproviders/azure/main.go
  internal/cloudproviders/civo/main.go
  internal/cloudproviders/local/main.go
  internal/kubernetes/kubeconfig_creds.go
  pkg/controllers/managerClusterKsctl.go
  pkg/types/storage/aws.go
  pkg/types/typesCloud.go
  test/e2e/aws/create.json
  test/e2e/aws/delete.json
  test/e2e/aws/info.json
  test/e2e/aws/switch.json
  test/mock.go
  test/mock_test.go
Labels: cloud/civo, cloud/local, pr/mergable, pr/lgtm, cloud/aws, cloud/azure, area/test, go, area/pkg, area/ci, distro/kubernetes-client-go, tests/enable

#424 KEP: Improve the CI for ksctl component version development and release
  .github/workflows/build-dev-images-pr.yaml
  .github/workflows/ci-main.yaml
  .github/workflows/docker.yaml
  .github/workflows/reminder-update-controllers.yaml
  Makefile
  Makefile.components
  commons/global.go
  commons/ksctl_components.go
  internal/kubernetes/applications.go
  internal/kubernetes/components/ksctlapplication.go
  internal/kubernetes/components/ksctlapplication_test.go
  internal/kubernetes/ksctl.go
  internal/kubernetes/kubectl.go
  internal/kubernetes/kubernetes_test.go
  ksctl-components/manifests/controllers/application/deploy.yml
  ksctl-components/manifests/versions.go
  ksctl-components/operators/application/config/manager/kustomization.yaml
  pkg/helpers/consts/consts.go
  pkg/helpers/context.go
  pkg/helpers/context_test.go
  pkg/helpers/fields.go
  pkg/helpers/utils_test.go
  test/e2e/README.md
  test/e2e/e2e.go
Labels: pr/mergable, pr/lgtm, area/test, go, area/pkg, area/ci, distro/kubernetes-client-go, tests/enable

#428 updated the deps
  .github/workflows/build-dev-images-pr.yaml
  go.mod
  go.sum
Labels: pr/mergable, pr/lgtm, go, area/ci, tests/enable

#435 KFP: add kwasm wasmedge
  internal/kubernetes/applications.go
  internal/kubernetes/components/kwasm.go
  internal/kubernetes/components/kwasm_test.go
  internal/kubernetes/metadata/consts_test.go
  internal/kubernetes/metadata/vars.go
  internal/kubernetes/prod_apps.go
  internal/kubernetes/stacks/kwasm_wasmedge.go
  internal/kubernetes/stacks/stacks.go
Labels: pr/mergable, pr/lgtm, area/test, go, distro/kubernetes-client-go, tests/enable

#436 Fixed the statuscode for application stack not working
  ksctl-components/agent/pkg/application/app.go
  ksctl-components/agent/server.go
  ksctl-components/manifests/controllers/application/deploy.yml
  ksctl-components/operators/application/api/v1alpha1/stack_types.go
  ksctl-components/operators/application/config/crd/bases/application.ksctl.com_stacks.yaml
  ksctl-components/operators/application/internal/controller/stack_controller.go
Labels: pr/mergable, pr/lgtm, go, tests/enable

#437 Removed the log debug on storageState
  internal/cloudproviders/aws/main.go
  internal/cloudproviders/aws/vm.go
  internal/cloudproviders/azure/main.go
  internal/cloudproviders/azure/vm.go
  internal/cloudproviders/civo/main.go
  internal/cloudproviders/civo/vm.go
  internal/cloudproviders/local/main.go
  internal/k8sdistros/k3s/controlplane.go
  internal/k8sdistros/kubeadm/controlplane.go
  internal/k8sdistros/main.go
  internal/storage/external/mongodb/mongodb.go
  internal/storage/kubernetes/kubernetes.go
  internal/storage/local/local.go
Labels: cloud/civo, cloud/local, pr/lgtm, cloud/aws, cloud/azure, go, distro/k3s, distro/kubeadm, state/local, tests/enable, state/kubernetes, state/external/mongodb

#438 Updated the codecov
  .github/workflows/codecov.yml
Labels: pr/mergable, pr/lgtm, area/ci, tests/enable

#445 KEP(scale-up, scale-down): to use stateDocument for bootstrap provider and version
  internal/k8sdistros/k3s/controlplane.go
  internal/k8sdistros/k3s/k3s.go
  internal/k8sdistros/k3s/k3s_test.go
  internal/k8sdistros/kubeadm/controlplane.go
  internal/k8sdistros/kubeadm/kubeadm.go
  internal/k8sdistros/kubeadm/kubeadm_test.go
  pkg/controllers/bootstrap/bootstrap.go
  test/e2e/aws/scaledown-ha-kubeadm.json
  test/e2e/aws/scaledown-ha.json
  test/e2e/aws/scaleup-ha-kubeadm.json
  test/e2e/aws/scaleup-ha.json
  test/e2e/azure/scaledown-ha-kubeadm.json
  test/e2e/azure/scaledown-ha.json
  test/e2e/azure/scaleup-ha-kubeadm.json
  test/e2e/azure/scaleup-ha.json
  test/e2e/civo/scaledown-ha-kubeadm.json
  test/e2e/civo/scaledown-ha.json
  test/e2e/civo/scaleup-ha-kubeadm.json
  test/e2e/civo/scaleup-ha.json
Labels: pr/mergable, pr/lgtm, area/test, go, area/pkg, distro/k3s, distro/kubeadm, tests/enable

#447 Removed the app install on new cluster creation
  internal/kubernetes/applications.go
  internal/kubernetes/components/argorollouts.go
  internal/kubernetes/components/argorollouts_test.go
  internal/kubernetes/components/certmanager.go
  internal/kubernetes/components/certmanager_test.go
  internal/kubernetes/components/cilium.go
  internal/kubernetes/components/cilium_test.go
  internal/kubernetes/components/components_test.go
  internal/kubernetes/components/flannel.go
  internal/kubernetes/components/flannel_test.go
  internal/kubernetes/components/istio.go
  internal/kubernetes/components/istio_test.go
  internal/kubernetes/components/kubeprometheus.go
  internal/kubernetes/components/kwasm.go
  internal/kubernetes/components/spinkube.go
  internal/kubernetes/components/spinkube_test.go
  internal/kubernetes/kubernetes_test.go
  internal/kubernetes/stacks/argorollouts.go
  internal/kubernetes/stacks/cilium.go
  internal/kubernetes/stacks/flannel.go
  internal/kubernetes/stacks/istio.go
  pkg/controllers/bootstrap/bootstrap.go
  pkg/controllers/managerClusterManaged.go
  pkg/controllers/managerClusterSelfManaged.go
  pkg/helpers/utilities/http_client.go
  pkg/helpers/utilities/http_client_test.go
Labels: pr/mergable, pr/lgtm, area/test, go, area/pkg, distro/kubernetes-client-go, tests/enable

#448 Improved component version handling
  internal/kubernetes/components/argocd.go
  internal/kubernetes/components/argocd_test.go
  internal/kubernetes/components/argorollouts.go
  internal/kubernetes/components/argorollouts_test.go
  internal/kubernetes/components/certmanager.go
  internal/kubernetes/components/cilium.go
  internal/kubernetes/components/component_version.go
  internal/kubernetes/components/components_test.go
  internal/kubernetes/components/flannel.go
  internal/kubernetes/components/flannel_test.go
  internal/kubernetes/components/istio.go
  internal/kubernetes/components/ksctlapplication.go
  internal/kubernetes/components/kubeprometheus.go
  internal/kubernetes/components/kwasm.go
  internal/kubernetes/components/kwasm_test.go
  internal/kubernetes/components/spinkube.go
  internal/kubernetes/kubectl.go
  internal/kubernetes/metadata/types.go
  poller/real_test.go
Labels: pr/mergable, pr/lgtm, area/test, go, distro/kubernetes-client-go, tests/enable
