Repository ksctl/ksctl, pull requests merged in 2024-03, with the labels that each got.

#302 moved the random string generator from `k3s` pkg to `helpers` pkg
  internal/k8sdistros/k3s/datastore.go
  pkg/helpers/state.go
Labels: pr/lgtm, go, area/pkg, distro/k3s, tests/enable

#303 feat: added the customdata or init script to azure and civo vms
  internal/cloudproviders/azure/vm.go
  internal/cloudproviders/civo/vm.go
  internal/k8sdistros/universal/kubernetes.go
  pkg/controllers/manager.go
  pkg/helpers/state.go
  test/e2e/args.go
Labels: cloud/civo, pr/lgtm, cloud/azure, area/test, go, area/pkg, distro/kubernetes-client-go, tests/enable

#306 feat: add support for etcd for `k3s`
  internal/cloudproviders/azure/azure_test.go
  internal/cloudproviders/azure/azurego.go
  internal/cloudproviders/azure/main.go
  internal/cloudproviders/azure/vm.go
  internal/cloudproviders/civo/civo_test.go
  internal/cloudproviders/civo/civogo.go
  internal/cloudproviders/civo/main.go
  internal/cloudproviders/civo/vm.go
  internal/k8sdistros/k3s/controlplane.go
  internal/k8sdistros/k3s/datastore.go
  internal/k8sdistros/k3s/helper.go
  internal/k8sdistros/k3s/k3s.go
  internal/k8sdistros/k3s/k3s_test.go
  internal/storage/types/k3s.go
  pkg/helpers/certs.go
  pkg/helpers/utils_test.go
  test/e2e/azure/create-ha.json
  test/e2e/civo/create-ha.json
  test/mock.go
Labels: cloud/civo, pr/lgtm, cloud/azure, area/test, go, area/pkg, distro/k3s, tests/enable

#308 Update the version for Kubernetes used by Jenkins to run tests on Civo to current lastest.
  test/e2e/civo/create.json
Labels: pr/lgtm, area/test, tests/enable

#318 enhancement: concurrency for k8s bootstrap process
  internal/cloudproviders/civo/vm.go
  internal/k8sdistros/datastore.go
  internal/k8sdistros/k3s/controlplane.go
  internal/k8sdistros/k3s/k3s.go
  internal/k8sdistros/k3s/k3s_test.go
  internal/k8sdistros/k3s/workerplane.go
  internal/k8sdistros/kubeadm/controlplane.go
  internal/k8sdistros/kubeadm/kubeadm.go
  internal/k8sdistros/kubeadm/kubeadm_test.go
  internal/k8sdistros/kubeadm/workerplane.go
  internal/k8sdistros/loadbalancer.go
  internal/k8sdistros/main.go
  internal/k8sdistros/types.go
  pkg/controllers/kubernetes/kubernetes.go
  pkg/helpers/ssh.go
  test/e2e/civo/create-ha.json
  test/e2e/civo/scaleup-ha.json
Labels: cloud/civo, pr/lgtm, area/test, go, area/pkg, distro/k3s, distro/kubeadm, tests/enable

#277 feat(cloud): support for aws ha clusters
  go.mod
  go.sum
  internal/cloudproviders/aws/aws_test.go
  internal/cloudproviders/aws/awsgo.go
  internal/cloudproviders/aws/firewall.go
  internal/cloudproviders/aws/helper.go
  internal/cloudproviders/aws/main.go
  internal/cloudproviders/aws/network.go
  internal/cloudproviders/aws/ssh.go
  internal/cloudproviders/aws/vm.go
  internal/k8sdistros/k3s/k3s.go
  internal/storage/types/aws.go
  internal/storage/types/global.go
  pkg/controllers/cloud/cloud.go
  pkg/controllers/manager.go
  pkg/helpers/ssh.go
  test/e2e/aws/create-ha.json
  test/e2e/aws/delete-ha.json
  test/e2e/aws/get.json
  test/e2e/aws/scaledown-ha.json
  test/e2e/aws/scaleup-ha.json
  test/e2e/aws/switch-ha.json
  test/mock.go
  test/mock_test.go
  testing_targets/README.md
  testing_targets/ssh_main.go
  testing_targets/test_vm/aws/querier.go
  testing_targets/test_vm/aws/resources.go
Labels: pr/lgtm, cloud/aws, area/test, go, area/pkg, distro/k3s, tests/enable

#319 feature: add better script execution logic with retries
  .github/labeler.yml
  internal/cloudproviders/aws/awsgo.go
  internal/cloudproviders/aws/main.go
  internal/cloudproviders/aws/vm.go
  internal/cloudproviders/azure/azurego.go
  internal/k8sdistros/datastore.go
  internal/k8sdistros/distro_test.go
  internal/k8sdistros/k3s/controlplane.go
  internal/k8sdistros/k3s/k3s.go
  internal/k8sdistros/k3s/k3s_test.go
  internal/k8sdistros/k3s/workerplane.go
  internal/k8sdistros/kubeadm/controlplane.go
  internal/k8sdistros/kubeadm/kubeadm.go
  internal/k8sdistros/kubeadm/kubeadm_test.go
  internal/k8sdistros/kubeadm/workerplane.go
  internal/k8sdistros/loadbalancer.go
  pkg/controllers/manager.go
  pkg/helpers/consts/consts.go
  pkg/helpers/script.go
  pkg/helpers/ssh.go
  pkg/helpers/utils_test.go
  pkg/logger/log.go
  pkg/resources/typesDistro.go
  test/e2e/aws/create-ha-kubeadm.json
  test/e2e/aws/creds.json
  test/e2e/aws/delete-ha-kubeadm.json
  test/e2e/aws/scaledown-ha-kubeadm.json
  test/e2e/aws/scaleup-ha-kubeadm.json
  test/e2e/aws/switch-ha-kubeadm.json
  test/e2e/azure/creds.json
  test/e2e/civo/creds.json
  test/e2e/consts.go
  test/e2e/e2e.go
  test/e2e/e2e_creds.go
  test/helpers/templ.go
  testing_targets/ssh_main.go
Labels: kind/enhancement, pr/lgtm, cloud/aws, cloud/azure, area/test, go, area/pkg, distro/k3s, distro/kubeadm, area/ci, tests/enable
