Repository ksctl/ksctl, pull requests merged in 2024-06, with the labels that each got.

#382 Aws-ha test case
  internal/cloudproviders/aws/aws_test.go
  internal/cloudproviders/aws/awsgo.go
  internal/cloudproviders/aws/network.go
  pkg/types/storage/aws.go
Labels: cloud/aws, area/test, go, area/pkg, tests/enable

#385 enhancement: Improve code coverage and fixes e2e test suite
  .github/workflows/codecov.yml
  .github/workflows/testingAws.yml
  .github/workflows/testingAzure.yml
  .github/workflows/testingCivo.yml
  .github/workflows/testingLocal.yml
  Makefile
  internal/cloudproviders/aws/aws_client.go
  internal/cloudproviders/aws/aws_mock_client.go
  internal/cloudproviders/aws/aws_test.go
  internal/cloudproviders/aws/main.go
  internal/cloudproviders/aws/types.go
  internal/cloudproviders/aws/vars.go
  internal/cloudproviders/azure/azure_client.go
  internal/cloudproviders/azure/azure_mock_client.go
  internal/cloudproviders/azure/azure_test.go
  internal/cloudproviders/azure/azurego.go
  internal/cloudproviders/azure/main.go
  internal/cloudproviders/azure/types.go
  internal/cloudproviders/azure/vars.go
  internal/cloudproviders/civo/civo_client.go
  internal/cloudproviders/civo/civo_mock_client.go
  internal/cloudproviders/civo/civo_test.go
  internal/cloudproviders/civo/civogo.go
  internal/cloudproviders/civo/main.go
  internal/cloudproviders/civo/types.go
  internal/cloudproviders/civo/vars.go
  internal/cloudproviders/local/custom-logger.go
  internal/cloudproviders/local/local_client.go
  internal/cloudproviders/local/local_mock_client.go
  internal/cloudproviders/local/local_test.go
  internal/cloudproviders/local/localgo.go
  internal/cloudproviders/local/main.go
  internal/cloudproviders/local/types.go
  internal/cloudproviders/local/vars.go
  pkg/controllers/cloud/cloud.go
  pkg/controllers/managerClusterKubernetes.go
  pkg/controllers/managerClusterManaged.go
  pkg/controllers/managerClusterSelfManaged.go
  scripts/test-api.ps1
  scripts/test-api.sh
  scripts/test-aws.ps1
  scripts/test-aws.sh
  scripts/test-azure.ps1
  scripts/test-azure.sh
  scripts/test-civo.ps1
  scripts/test-civo.sh
  scripts/test-local.ps1
  scripts/test-local.sh
  test/mock.go
Labels: cloud/civo, cloud/local, pr/mergable, pr/lgtm, cloud/aws, cloud/azure, area/test, go, area/pkg, area/ci, tests/enable

#391 feat(e2e)!: automate creation and deletion of custom-runner infra
  .github/workflows/e2e.yml
  test/README.md
  test/gh-runner/configure/README.md
  test/gh-runner/configure/destroy.yml
  test/gh-runner/configure/gh-runner.yml
  test/gh-runner/configure/group_vars/all
  test/gh-runner/configure/setup-tools.yml
  test/gh-runner/configure/setup.yml
  test/gh-runner/configure/templates/path
  test/gh-runner/configure/templates/writeInventory.go
  test/gh-runner/configure/transfer.yml
  test/gh-runner/infra/.gitignore
  test/gh-runner/infra/README.md
  test/gh-runner/infra/aws_s3_policy.json
  test/gh-runner/infra/main.tf
  test/gh-runner/infra/vars.tf
Labels: go, area/ci

#392 feat(security)!: added docker image and IAC code scanning
  .github/workflows/ci-main.yaml
  .github/workflows/ci-tag.yml
  .github/workflows/code-scanning.yml
  .github/workflows/docker.yaml
Labels: area/ci

#394 fix: permission of user issue in e2e
  .github/workflows/e2e-aws.yml
  .github/workflows/e2e-azure.yml
  .github/workflows/e2e-civo.yml
  .github/workflows/e2e-local.yml
  test/gh-runner/configure/destroy.yml
  test/gh-runner/configure/gh-runner.yml
Labels: area/ci
